<!DOCTYPE html>
<html>
	<head>
		<title>Sports Leagues</title>
	</head>
	<body style="background-color: rgb(51, 51, 51); color: white;">
		<h1>Leagues</h1>
		<ol>
			{% for league in leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Teams</h1>
		<ol>
			{% for team in teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Players</h1>
		<ol>
			{% for player in players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Baseball Leagues</h1>
		<ol>
			{% for baseball_league in baseball_leagues %}
				<li>{{baseball_league.name}}</li>
			{% endfor %}
		</ol>
		<h1>Women Leagues</h1>
		<ol>
			{% for league in women_leagues %}
				<li>{{league.name}}</li>
			{% endfor %}
		</ol>
		<h1>Hockey Leagues</h1>
		<ol>
			{% for league in hockey_leagues %}
				<li>{{league.name}}</li>
			{% endfor %}
		</ol>
		<h1>Non-Football Leagues</h1>
		<ol>
			{% for league in not_football_leagues %}
				<li>{{league.name}}</li>
			{% endfor %}
		</ol>
		<h1>Conferences</h1>
		<ol>
			{% for league in conferences %}
				<li>{{league.name}}</li>
			{% endfor %}
		</ol>
		<h1>Atlantic Leagues</h1>
		<ol>
			{% for league in atlantic_leagues %}
				<li>{{league.name}}</li>
			{% endfor %}
		</ol>
		<h1>Dallas Teams</h1>
		<ol>
			{% for team in dallas_teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% endfor %}
		</ol>
		<h1>Raptors</h1>
		<ol>
			{% for team in raptors %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% endfor %}
		</ol>
		<h1>Teams Whose Location Includes "City"</h1>
		<ol>
			{% for team in includes_city %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% endfor %}
		</ol>
		<h1>Teams Whose Name Starts With "T"</h1>
		<ol>
			{% for team in starts_t %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% endfor %}
		</ol>
		<h1>Teams Ordered Alphabetically by Location</h1>
		<ol>
			{% for team in abc_location %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% endfor %}
		</ol>
		<h1>Teams Ordered Reverse-Alphabetically by Team Name</h1>
		<ol>
			{% for team in reverse_abc_name %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% endfor %}
		</ol>
		<h1>All Players with the Last Name "Cooper"</h1>
		<ol>
			{% for player in cooper_last %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>
		<h1>All Players with the First Name "Joshua"</h1>
		<ol>
			{% for player in joshua_first %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>
		<h1>All Players with the Last Name "Cooper" EXCEPT Those with the First Name "Joshua"</h1>
		<ol>
			{% for player in cooper_last %}
				{% if player.first_name != "Joshua" %}
					<li>{{player.first_name}} {{player.last_name}}</li>
				{% endif %}
			{% endfor %}
		</ol>
		<h1>All Players Named "Alexander" or "Wyatt"</h1>
		<ol>
			{% for player in alexander_or_wyatt %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>
		<h1>All Teams in the Atlantic Soccer Conference</h1>
		<ol>
			{% for team in ASC_teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% endfor %}
		</ol>
		<h1>All Players Currently on the Boston Penguins</h1>
		<ol>
			{% for player in current_penguins %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>
		<h1>All Players Currently in the International Collegiate Baseball Conference</h1>
		<ol>
			{% for team in ICBC_teams %}
				{% for player in team.curr_players.all %}
					<li>{{player.first_name}} {{player.last_name}}</li>
				{% endfor %}
			{% endfor %}
		</ol>
		<h1>All Players Currently in the American Conference of Amateur Football with the Last Name "Lopez"</h1>
		<ol>
			{% for player in ACAF_current %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>
		<h1>All Football Players</h1>
		<ol>
			{% for player in football_players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>
		<h1>Teams with Players Named Sophia</h1>
		<ol>
			{% for team in teams_with_sophia %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% endfor %}
		</ol>
		<h1>Leagues with Players Named Sophia</h1>
		<ol>
			{% for league in leagues_with_sophia %}
				<li>{{league.name}}</li>
			{% endfor %}
		</ol>
		<h1>All Flores' Who Don't Currently Play for the Washington Roughriders</h1>
		<ol>
			{% for player in flores_not_roughrider %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>
		<h1>Every Team Samuel Evans has Played For</h1>
		<ol>
			{% for team in all_samuel_evans_teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% endfor %}
		</ol>
		<h1>Every Player Who has Played for the Tiger-Cats</h1>
		<ol>
			{% for player in all_players_manitoba %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>
		<h1>Every Former (but not current) Member of the Wichita Vikings</h1>
		<ol>
			{% for player in former_vikings %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>
		<h1>Every Team Jacob Gray Played for Prior to the Oregon Colts</h1>
		<ol>
			{% for team in jacob_gray_former %}
				{% if team.team_name != 'Colts' %}
					<li>{{team.location}} {{team.team_name}}</li>
				{% endif %}
			{% endfor %}
		</ol>
		<h1>Every Player Named Joshua Who Has Played in the Atlantic Federation of Amateur Baseball Players</h1>
		<ol>
			{% for player in AFABP_joshua %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>
		<h1>All Teams That Have Had at Least 12 Players (past and present)</h1>
		<ol>
			{% for team in twelve_or_more %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% endfor %}
		</ol>
		<h1>All Players and Amount of Teams They've Played For</h1>
		<ol>
			{% for player in player_team_count %}
				<li>{{player.first_name}} {{player.last_name}}: {{player.team_count}}</li>
			{% endfor %}
		</ol>
	</body>
</html>